<!DOCTYPE html>
<html ng-app="ngKeyboard">
<head>
    <script data-require="angular.js@*" data-semver="1.3.0-beta.5" src="https://code.angularjs.org/1.3.0-beta.5/angular.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
</head>
<body>
<div class="container">
    <input type="text" my-text="" style="width: 100%"/>
    <div ng-controller="MainDivCtrl">
        <div class="keyboard-container">
            <ul ng-repeat="row in layout" style="list-style-type: none;">
                <li ng-repeat="element in row.row" class="btn" ng-click="keyPressed(element.value, element.action)">
                    {{element.value}}
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>