<!DOCTYPE html>
<html ng-app="ngKeyboard">

<head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <link href="style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.16/angular.js"></script>
    <script src="app.js"></script>
</head>

<body>
<div ng-controller="MainDivCtrl">
    <div class="keyboard-container">
        <ul style="list-style-type: none;">
            <li ng-repeat="row in layout.firstRow" class="btn" ng-click="keyPressed(row.value)">{{row.value}}</li>
        </ul>
        <ul style="list-style-type: none;">
            <li ng-repeat="row in layout.secondRow" class="btn" ng-click="keyPressed(row.value)">{{row.value}}</li>
        </ul>
        <ul style="list-style-type: none;">
            <li ng-repeat="row in layout.thirdRow" class="btn" ng-click="keyPressed(row.value)">{{row.value}}</li>
        </ul>
        <ul style="list-style-type: none;">
            <li ng-repeat="row in layout.fourthRow" class="btn" ng-click="keyPressed(row.value)">{{row.value}}</li>
        </ul>
        <ul style="list-style-type: none;">
            <li ng-repeat="row in layout.fifthRow" class="btnSpecial" ng-click="keyPressed(row.value)">{{row.value}}</li>
        </ul>
    </div>
</div>

<textarea my-text=""></textarea>

</body>

</html>